:root {
  --background-color: #243175;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.landing {
  padding-bottom: 50px;
}

header {
  position: absolute;
  left: 50%;
  top: 2%;
  width: calc(100% - 20%);
  transform: translateX(-50%);
  z-index: 55;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 20px;
  display: flex;
}

li {
  margin-right: 12px;
}

button {
  background-color: var(--background-color);
  color: white;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}

@media (max-width: 660px) {
  nav {
    display: none;
  }
}

.landing-grid,
.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  max-width: 1200px;
  align-items: stretch;
}

.landing img {
  width: 100%;
  background-color: transparent;
  object-fit: cover;
  width: 40px;
}

@media (max-width :660px) {
  .landing img {
    display: none;
  }
}

.landing-content {
  position: relative;
  padding: 13px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  direction: rtl;
  background-color: #f7f7f7;
  height: 100%;
}

.landing-content h1 {
  margin-bottom: 20px;
}

.landing-content p {
  margin-bottom: 20px;
  width: 70%;
}

.landing-content button {
  width: fit-content;
  margin-bottom: 30px;
  outline: none;
  background-color: var(--background-color);
}


.cards {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.card {
  background-color: white;
  padding: 14px;
  border-radius: 15px;
}

.cards span {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 8px;
  display: block;
}

.cards p {
  display: inline;
}

.landing-grid img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.land-image {
  background-image: url(/public/landing.png);
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  height: 100vh;
  width: 100%;
}

/* .//////////hero section //////////// */

.hero {
  padding-bottom: 50px;
  text-align: center;
}

.hero-position {
  direction: rtl;
}

.hero-image {
  width: 100%;
}

.hero h2 {
  margin-bottom: 20px;
}

.hero-info-imag {
  width: 55px;
  margin-left: 10px;
  border-radius: 7px;
}

.info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: white;
  padding: 8px;
  border-radius: 12px;
  border: none;
  margin-bottom: 25px;
}

.som {
  direction: rtl;
  text-align: right;
}


.info-grid {
  display: grid;
  align-items: center;
}

/*  .///////houses-section /////////// */

.houses {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  padding: 25px;
  height: fit-content;
}

.houses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-top: 20px;
}

@media (max-width: 660px) {
  .houses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-top: 20px;
    gap: 25px;
    flex-direction: column-reverse;
  }

  .houses-header h2 {
    text-align: right;
  }
}

.houses-header p {
  width: 50%;
  text-align: center;
}


@media (max-width: 660px) {
  .card-flex {
    display: flex;
    justify-self: center;
    align-items: center;
  }
}

.house-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 0;
  margin-bottom: 25px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.home-card {
  /* background-size: cover; */
  display: grid;
  align-items: flex-end;
  height: 300px;
  width: 200px;
  color: white;
  text-align: right;
  padding: 10px;
  position: relative;
}

@media (max-width:660px) {
  .home-card {
    width: 100%;
  }

  .house-card {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.home-card .home-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.home-info {
  position: relative;
  z-index: 333333;
}

.houses-btn {
  position: relative;
  text-align: right;
}

/* about-section /////////////// */
.about {
  padding-top: 60px;
}

.about h1 {
  text-align: center;
  margin-bottom: 25px;
}

.about h4 {
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 661px) {
  .about-info-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.about-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding-bottom: 4rem;
}


.about-card {
  position: relative;
  width: 230px;
  padding: 19px;
  background-color: #f7f7f7;
  border-radius: 15px;
  height: 250px;
  text-align: right;
  transition: 0.2s;
}

.about-card:hover {
  box-shadow: 5px 5px #00000078;
}

.about-card::after {
  content: "</>";
  position: absolute;
  bottom: 9%;
  right: 78%;
}

.about-card h5 {
  margin-bottom: 16px;
}

.about-card:nth-child(odd) {
  background-color: #e9eaf1;
}

.about-card:nth-child(even) {
  background-color: var(--background-color);
}

/* rent-manegment */
.rent-manegment {
  padding-bottom: 80px;
}

.manegment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}

@media (max-width: 661px) {
  .manegment-header>button {
    display: none;
  }

  .manegment-header>h1 {
    text-align: center;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  ;
  grid-template-rows: auto;
  gap: 10px;
  color: white
}

#big-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(/public/Frame\ 2085663191.webp);
  background-size: cover;
  background-position: center;
}


.manegment-card>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 15px;
  flex-direction: column;
}

.manegment-card {
  height: 300px;
  width: 100%;
  border-radius: 20px;
}

#maneg {
  background-image: url(/public/Frame\ 2085663181.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: right;
  font-weight: bold;
}

#renters {
  background-image: url(/public/Frame\ 2085663185.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: right;
  padding: 10px;
  font-weight: bold;
  display: grid;
  align-items: self-end;
}

#fix {
  background-image: url(/public/Frame\ 2085663204.png);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: self-end;
  width: 100%;
  padding: 10px;
  text-align: right;
}


/* support //////////////// */
.support {
  padding-bottom: 30px;
}

.sup-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.sup-text {
  text-align: right;
}

.support h1 {
  margin-bottom: 15px;
}

.hero-img {
  width: 30%;
}

.sup-text button {
  margin-bottom: 9px;
}

.support input {
  width: 60%;
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
  border: none;
  background-color: #c5c5c5a1;
  text-align: right;
  font-weight: bold;
}

.support span {
  margin-top: 25px;
}


/* footer//////////// */

footer {
  background-color: var(--background-color);
  border-radius: 40px;
  height: 300px;
  padding: 25px;
  color: white;
}


.footer-container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  /* width:50%; */
  display: inline-block;
  text-align: right;

}

footer img {
  width: 10%;

}

.footer-info {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  direction: rtl;
}

.text {
  display: grid;
  align-items: end;
}

@media (max-width: 661px) {
  footer {
    height: 100%;
  }

  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    margin-bottom: 13px;
  }

  .footer-info>div>p {
    margin-bottom: 15px;
    line-height: 1.6;
  }
}

.footer-container .footer-info>p {
  width: 650px;
}

footer a {
  color: white;
}

@media (max-width: 661px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
  }
}

.foo-number {
  display: inline-block;
  margin-bottom: 16px;
}

footer h6 {
  margin-bottom: 16px;
}